<h1>All Searches</h1>

<div class="clear-search"><%= link_to 'clear search history', searches_delete_all_path %></div>

<% @searches.each do |ser| %>
  <article class="search">
    <ul>
      <li> Search ID: <%= ser.id %> </li>
      <li> Search Terms: <%= ser.search_terms %> </li>
      <li> Created At: <%= ser.created_at %> </li>
      <li><%= link_to 'Inspect this search', [current_user, ser] %></li>
    </ul>
  </article>
<% end %>
