<h1>Create a new post</h1>
<%= form_for [current_user, @new_post], method: :post do |f| %>
 <%= f.label :title%>
 <%= f.text_area :title%>
 <%= f.label :text %>
 <%= f.text_area :text %>
 <%= f.submit 'Submit'%>
<% end %>
