<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>
<%= form_for [current_user, @new_post], method: :post do |f| %>
 <%= f.label :title%>
 <%= f.text_field :title%>
 <%= f.label :text %>
 <%= f.text_field :text %>
 <%= f.submit 'Submit'%>
<% end %>
